<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

  <display-name>Auto Patch Sign</display-name>

  <filter>
    <filter-name>AuthenticationFilter</filter-name>
    <filter-class>org.wso2.outsiders_contributions.filters.JWTAction</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <context-param>
    <param-name>log4jConfiguration</param-name>
    <param-value>./classes/log4jconfig.xml</param-value>
  </context-param>

  <servlet>
    <servlet-name>fetchData</servlet-name>
    <servlet-class>org.wso2.outsiders_contributions.serverlets.fetchData</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>patchValidator</servlet-name>
    <servlet-class>org.wso2.outsiders_contributions.serverlets.patchValidator</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>patchRevertor</servlet-name>
    <servlet-class>org.wso2.outsiders_contributions.serverlets.patchRevertor</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>fetchRole</servlet-name>
    <servlet-class>org.wso2.outsiders_contributions.serverlets.fetchRole</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>addProduct</servlet-name>
    <servlet-class>org.wso2.outsiders_contributions.serverlets.addProduct</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>fetchData</servlet-name>
    <url-pattern>/fetchData</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>patchValidator</servlet-name>
    <url-pattern>/patchValidator</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>patchRevertor</servlet-name>
    <url-pattern>/patchRevertor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>fetchRole</servlet-name>
    <url-pattern>/fetchRole</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addProduct</servlet-name>
    <url-pattern>/addProduct</url-pattern>
  </servlet-mapping>

</web-app>

